@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #F5F5F5;
  --surface: #171717;
  --border: #262626;
  --accent: #8A2BE2;
  --highlight: #BFFF00;
  --secondary: #A3A3A3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
